@import "variables.css";
@import "fonts.css";

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    font-family: var(--primary-font);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

a:visited {
    color: var(--primary-color);
}
